// responsive
$breakpoint-md: 480px;
$breakpoint-lg: 800px;
$breakpoint-xl: 1281px;

// color
$col-white: #fff;
$col-black: #000;
$col-grey-1: #212121;
$col-grey-2: #9E9E9E;
$col-grey-3: #E0E0E0;
$col-grey-4: #f5f5f5;
$col-primary: #00897B;
$col-accent: #FF3D00;
$col-error: #F44336;

// dimensions
$header--height: 68px;

$input--height: 38px;
$btn_icon--size: 44px;
$btn_floating-action--size: 54px;