$infoscreen--width: 1080px;
$infoscreen--height: 1920px;
$infoscreen--font-size: 48px;

$impression--width: 100%;
$impression--height: 1000px;
$impression--fading-duration: 1s;

$impression-description--offset-bot: 130px;
$impression-description--offset-right: 0;

$event-list--width: 100%;
$event-list--height: 920px;

$event--width: 100%;
$event--height: 230px;
$event--spacing: 40px;

$event--fx-duration: 2s;