@import '__config';
@import '__config-info';
@import 'helper';
@import 'reset';

/* components for manage view */
@import 'element/btn';
@import 'element/input';
@import 'element/notification-bar';
@import 'element/util';

// view
@import 'view/info';
@import 'view/manage';

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}