@import '__config';
@import '__config-info';
@import 'util';
@import 'reset';

/* components for main view */
@import 'components/event';
@import 'components/info';

/* components for manage view */
@import 'components/btn';
@import 'components/input';
@import 'components/notification-bar';
@import 'components/manage';

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}