# dev specific
.idea/
node_modules/
tmp/
deprecated/
dist/

# server
.env
server/config/*
!server/config/default
!server/config/index.js
server/data/
server/log/

# client
bower_components/
*.css
*.css.map

app/data/
!app/data/impression/transparent.png