.idea/
node_modules/

api/cookies/
api/data/
api/config.*.js
tmp/

app/assets/bower_components/
app/assets/scss/base.css
app/assets/scss/base.css.map
app/assets/scss/base.min.css
app/assets/scss/base.min.css.map


app/imp/*
!app/imp/transparent.png