$imp-inner-width: 330px;
$imp-margin: 10px;
$imp-outer-width: $imp-inner-width + 2 * $imp-margin;

.impression-container, impression-list {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  width: $imp-outer-width;
  margin: auto;
}

.impression {
  flex: 0 0 $imp-inner-width;
  min-width: $imp-inner-width;
  max-width: $imp-inner-width;
  margin: $imp-margin;
  background: $col-white;
  border-radius: 3px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  transition: position .2s, top .2s, left .2s, transform .2s;
}

.impression__img {
  height: 200px;
  transition: height .2s;
  background: $col-grey-1;
}

.impression__img-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to left, transparentize($col-accent, .5), $col-accent 20px);
}

.impression__actions {
  @include flex(row, center, flex-end);
  background: $col-primary;
}

.impression_actions-label {
  margin-right: auto;
  padding-left: 12px;
  color: $col-white;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.impression__content-container {
  height: 0;
  overflow: hidden;
  transition: height .2s;
}

.impression__content {
  padding: 16px;
}

.impression__input {
  margin-top: 10px;
  resize: none;
}

.impression__input:first-child {
  margin-top: 0;
}

.impression__error-name {
  top: 20px;
  right: 18px;
}

.impression.impression_detailed {
  //position: fixed;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  // TODO impression_detailed animation

  .impression__img {
    height: 305px;
  }

  .impression__content-container {
    height: 205px;
  }
}

@include mq($breakpoint-lg) {
  .impression-container, impression-list {
    width: 2 * $imp-outer-width;
  }
}

@include mq($breakpoint-xl) {
  .impression-container, impression-list {
    width: 3 * $imp-outer-width;
  }
}