<div class="impression" ng-class="{impression_detailed: showImpressionDetails}">
    <div class="img-container impression__img">
        <div class="impression__img-progress" ng-show="$ctrl.fileUpload.status == 'uploading'" style="width:{{$ctrl.fileUpload.data}}%"></div>
        <img ng-src="imp/{{$ctrl.impression.img || 'transparent.png'}}">
    </div>
    <div class="impression__actions">
        <div class="impression_actions-label">{{$ctrl.impression.name}}</div>
        <div class="btn btn_icon" ngf-select="$ctrl.uploadImpressionImage($file, $invalidFiles)" accept="image/*"><i class="material-icons">photo_camera</i></div>
        <div class="btn btn_icon" ng-click="$ctrl.save()"><i class="material-icons">save</i></div>
        <div class="btn btn_icon" ng-click="$ctrl.delete()"><i class="material-icons">delete</i></div>
        <div class="btn btn_icon" ng-click="showImpressionDetails=!showImpressionDetails">
            <i class="material-icons">fullscreen{{showImpressionDetails ? '_exit': ''}}</i>
        </div>
    </div>
    <div class="impression__content-container">
        <div class="impression__content">
            <input class="input impression__input" type="text"
                   placeholder="Name" ng-model="$ctrl.impression.name" ng-change="$ctrl.validateImpression()">
            <div class="input__error impression__error-name" ng-show="$ctrl.impression.error.name">
                <i class="material-icons input__error-icon">error</i>
                <div class="input__error-msg">{{$ctrl.impression.error.name}}</div>
            </div>
            <input class="input impression__input" type="number"
                   placeholder="Anzeigedauer" ng-model="$ctrl.impression.duration">
            <textarea class="input impression__input" placeholder="Beschreibung (optional)"
                      rows="3" ng-model="$ctrl.impression.description">{{$ctrl.impression.description}}</textarea>
        </div>
    </div>
</div>