<div class="mg--grid">

    <!-- left col -->
    <div class="mg--grid__col mg--grid__block">

        <!-- impressions -->
        <div class="mg--list">
            <div class="mg--list__title">Impressionen</div>

            <div class="mg--list__item"
                 ng-class="{'mg--list__item_selected': $ctrl.selectedImpressionIndex === $index}"
                 ng-click="$ctrl.selectImpression($index)"
                 ng-repeat="impression in $ctrl.impressions track by $index">
                <div class="mg--list__img"
                     ng-style="{'background-image': 'url(data/impression/' + (impression.img || 'transparent.png') + ')'}"></div>
                <div class="mg--list__label">{{impression.name}}</div>
            </div>
        </div>


    </div>

    <div class="mg--grid__col mg--grid__block">

        <div class="mg--detail">
            <div class="mg--detail__img-wrapper">
                <img class="mg--detail__img"
                     ng-src="{{'../data/impression/' + ($ctrl.selectedImpression.img || 'transparent.png')}}">
            </div>

            <label class="label" for="name">Name</label>
            <input class="input input_text input_fullsize"
                   id="name"
                   type="text"
                   ng-disabled="!$ctrl.selectedImpression"
                   ng-model="$ctrl.selectedImpression.name">

            <label class="label" for="duration">Anzeigedauer</label>
            <input class="input input_text input_fullsize"
                   id="duration"
                   type="number"
                   min="0"
                   ng-disabled="!$ctrl.selectedImpression"
                   ng-model=$ctrl.selectedImpression.duration>

            <label class="label" for="description">Beschreibung (optional)</label>
            <textarea class="input input_text input_fullsize"
                      id="description"
                      rows="3"
                      ng-disabled="!$ctrl.selectedImpression"
                      ng-model="$ctrl.selectedImpression.description"></textarea>
        </div>

    </div>

    <div class="mg--grid__col mg--grid__block">

        <!-- actions -->
        <div class="mg--list ">
            <div class="mg--list__title">Aktionen</div>

            <div class="mg--list__item mg--list__item_icon" ng-click="$ctrl.addImpression()">
                <i class="material-icons mg--list__icon">add</i>
                Neue Impression
            </div>
            <div class="mg--list__item mg--list__item_icon" ng-click="$ctrl.save()">
                <i class="material-icons mg--list__icon">save</i> Speichern
            </div>
            <div class="mg--list__item mg--list__item_icon" ng-click=$ctrl.removeImpression()>
                <i class="material-icons mg--list__icon">delete</i>
                Impression löschen
            </div>
            <div class="mg--list__item mg--list__item_icon" ng-click=$ctrl.moveUp()>
                <i class="material-icons mg--list__icon">keyboard_arrow_up</i>
                Nach oben bewegen
            </div>
            <div class="mg--list__item mg--list__item_icon" ng-click=$ctrl.moveDown()>
                <i class="material-icons mg--list__icon">keyboard_arrow_down</i>
                Nach unten bewegen
            </div>
            <div class="mg--list__item mg--list__item_icon" ngf-select="$ctrl.uploadImpressionImage($file, $invalidFiles)" accept="image/*">
                <i class="material-icons mg--list__icon">file_upload</i>
                Bild hochladen
            </div>
        </div>
    </div>
</div>

<notification-bar on-init="$ctrl.onNotificationBarInit($notificationBar)"></notification-bar>